@import 'longform-styles';
@import 'philly-styles/values';


.desktop_elem {
  display:block;
}
.mobile_elem {
  display:none;
}
#travel_map {
  width: 100%;
  max-width: 400px;
}



.left-offset {
    margin-left: -25% !important;
}


#backgroundImage-1 {
  background-image: url("http://media.philly.com/images/plabor_maebori_long_top.jpg");
  background-position: left 50% top 79px;
  @include tablet {
    background-position: left 50% top 49px;
  }
}

#backgroundImage-2 {
  background-image: url("http://media.philly.com/images/plabor_LeePhotosTheCampSites-1.jpg");
  background-position: center;
  @include tablet {
    background-position: center;
    background-attachment:inherit !important;
    background-color: white;
    background-size: cover;
  }
}

.containerQuote {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-left: -11%;
  @media (max-width: 992px) {
margin-left: 0;
  }

  @media (min-width: 992px) {
     max-width: 46%;
  }
}
.containerQuoteText{
font-family: $philly-serif;
font-weight:400;
line-height:1.25em;
font-size:38px;
text-align: left !important
}
.containerQuoteSource{
color: #888;
    font-family: $philly-sans;
    font-size: 16px;
}
