@import 'longform-styles';
@import 'philly-styles/values';


.desktop_elem {
  display:block;
}
.mobile_elem {
  display:none;
}
#travel_map {
  width: 100%;
  max-width: 400px;
}



.left-offset {
    margin-left: -25% !important;
}


#backgroundImage-1 {
  background-image: url("http://media.philly.com/images/plabor_maebori_long_top.jpg");
  background-position: left 50% top 79px;
  @include tablet {
    background-position: left 50% top 49px;
  }
}

#backgroundImage-2 {
  background-image: url("http://media.philly.com/images/plabor_LeePhotosTheCampSites-1.jpg");
  background-position: left 50% top 79px;
  @include tablet {
    background-position: left 50% top 49px;
    background-attachment:inherit !important;
    background-color: white;
  }
}
