@import 'longform-styles';
@import 'philly-styles/values';



#base-sticky-wrapper {
    width: 300px;
    float: left;
    margin-left: -350px;
}

#base {
    height: 501.516px;
}


.left-offset {
    margin-left: -25%;
}


#backgroundImage-1 {
  background-image: url("http://media.philly.com/images/plabor_maebori_long_top.jpg");
}

#backgroundImage-2 {
  background-image: url("http://media.philly.com/images/plabor_LeePhotosTheCampSites-1.jpg");
}
