<!--removeIf(tmp)-->
 {% include "templates/shell/style-links.html" ignore missing %}
 {% include "partials/stylesheets.html" ignore missing %}
<link rel="stylesheet" href="../../css/phillystyles.css">
<link rel="stylesheet" href="../../css/styles.css">
<body>
<!--endRemoveIf(tmp)-->



<!-- ..................Put html here!...........................  -->



<div style="padding:20px" id="travel_map" class="left-offset col-xs-12 col-sm-4 col-md-4 col-lg-4 push-left">
    <img class="img-fluid" src="http://media.philly.com/images/plabor05-map.png" alt="" width="100%/">
</div>


<!--removeIf(tmp)-->
{% include "partials/script-links.html" %}
</body>
<script src="../../js/main.js"></script>
<!--endRemoveIf(tmp)-->
