<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">DAVID MAIALETTI / Staff Photographer</div>
    </div>
    <h1 class="overlayText">History's Hard Lesson</h1>
</div>


<div class="headerSection">
    <div class="BackgroundImageCaption">
        Teresa Maebori,  71, of Mount Airy, with family photographs. Her family was interned in California and Idaho during World War II.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            Born in an internment camp for Japanese Americans, she fears Muslims face a similar fate today.
        </div>
        <div class="byline">
            Jeff Gammage / Staff Writer, <a href="mailto:jmgammge@phillynews.com">jmgammge@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Sunday, Feb. 5, 2017</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>
                <p><span class="dropCap">W</span>illiam and Michiko Maebori spent a year imprisoned at the Tule Lake concentration camp in California, held behind barbed wire with 19,000 other Japanese, before they were offered a chance to leave.</p>
                <div style="margin: 10px" class="left-offset col-xs-12 col-sm-8 col-md-8 col-lg-8 push-left">
                    <img class="img-fluid" src="http://media.philly.com/images/plabor_maebori_holding_photo_1200.jpg" alt="" width="100%/">
                    <div class="containerPhotoCredit" alignment="true">DAVID MAIALETTI / Staff Photographer</div>
                    <div class="containerPhotoCaption" alignment="true">The Maebori family was forced from their home in Auburn, Wash., to a relocation center for Japanese Americans. “There was a lot of hate, just like we’re experiencing anti-Muslim sentiment today,” Teresa Maebori says.</div>
                </div>
                <p>Not to freedom, through the restoration of their rights as American citizens, and not back to their home in Washington state. They were released into a different kind of confinement, a government-controlled seasonal-leave farm labor camp
                    in western Idaho.</p>

                <p>Their daughter, Teresa Maebori, was born there in 1945.</p>

                <p>She grew up to become a teacher, worked 36 years at the Germantown Friends School, helped lead the local Japanese American Citizens League &mdash; and never forgot what her family endured.</p>
                <p>Now, through Maebori&rsquo;s efforts, Philadelphia is poised to host a revealing, poignant exhibit on the farm labor camps, a little-known aspect of the wider World War II internment.</p>

                        {% set quote = ["We need to remember our history in the U.S., and not repeat the mistakes of the past.", "Chris Mohr, executive director of the Friends Center"] %} {% include "partials/left-quote.html" %}

                <p>It comes on the 75th anniversary of the presidential executive order that forced Japanese Americans from their homes &mdash; and at a time when President Trump&rsquo;s decision to suspend the nation&rsquo;s refugee program and block people
                    from seven Muslim-majority countries has provoked protests at major airports and a court challenge.</p>
                <p>&ldquo;It&rsquo;s pretty unsettling,&rdquo; said Maebori, 71, who lives in Mount Airy. &ldquo;This is kind of repeating itself. All this hatred toward Muslims coming out.&rdquo;</p>
                <p>The exhibit, <a href="http://www.uprootedexhibit.com/"><em>Uprooted</em></a>, runs Feb. 18 to March 9 at the Friends Center on Cherry Street, home to one of the few organizations that spoke out against internment while it was happening.</p>
                <p>&ldquo;We need to remember our history in the U.S., and not repeat the mistakes of the past,&rdquo; said the center's executive director, Chris Mohr.</p>
                <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
                    <div class="adUnit" alignment="true">
                        <div id="div-gpt-ad-mrec-21" alignment="true">
                            <script alignment="true" type="text/javascript">
                                // <![CDATA[
                                cX.callQueue.push(['invoke', function() {
                                    googletag.cmd.push(function() {
                                        googletag.display('div-gpt-ad-mrec-21');
                                    });
                                }]);
                                // ]]>
                            </script>
                        </div>
                    </div>
                </div>
                <p><em>Uprooted</em> was created by the Oregon Cultural Heritage Commission and at its core is a series of 1942 pictures by Russell Lee, a Lehigh University graduate who traded chemical engineering for&nbsp; photography.</p>
                <p>As a photographer for the Farm Security Administration, a New Deal agency, he captured life in farm labor camps in Oregon and Idaho &mdash; scenes of Japanese families trying to persevere and go forward amid shock, shame, and uncertainty.</p>
                <p>In a way, the exhibit came about by accident. Historian and curator Morgen Young was searching Lee&rsquo;s photographs for information on the Farm Security Administration&nbsp;when she came across this lesser-known story of the labor camps.
                </p>
                <p>None of the people in the photos were identified in the captions. So Young started tracking them down, learning more about the camps as she worked. She calls <em>Uprooted</em> &ldquo;a warning sign of what could happen to any community
                    in this country.&rdquo;</p>
        </div>
    </div>
</div>

<div class="imagebreak"><img src="http://media.philly.com/images/RS542818_1a35016u-hpr1.jpg" width="100%" />
  <div class="containerPhotoCredit" alignment="true">Library of Congress</div>
  <div class="containerPhotoCaption" alignment="true">The Tule Lake internment camp for Japanese Americans in California, where the Maebori family was sent.</div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col col-md-offset-2">
            <p>About 33,000 Japanese were moved from the big internment centers to smaller farm camps, all for one purpose: to grow and harvest sugar beets, a valuable wartime crop, and not just because it might ease the sugar shortage in American kitchens.</p>
        </div>
    </div>
</div>
<div alignment="true" class="container-fluid imagebreak">
    <div alignment="true" class="col-md-offset-2 col-md-8">
        <div data-ride="carousel" class="carousel slide 412599163" id="carousel-one-generic" alignment="true">&zwnj;</div>
    </div>
</div>
<div alignment="true" class="container bodyContainer">
    <div alignment="true" class="row">
        <div alignment="true" class="col-md-8 col col-md-offset-2">
            <p>Sugar beets could be converted to industrial alcohol, used to make synthetic rubber and munitions. Whenever a sixteen-inch gun was fired, the U.S. Sugar Beet Association said in 1943, according to <em>Uprooted</em>, one-fifth of an acre of
                <a href="https://americansugarbeet.org/who-we-are/sugarbeet-history/">sugar beets</a> went up in smoke.</p>
            <p>With sugar imports cut off from the Japanese-occupied Philippines, the U.S. government increased domestic beet acreage by 25 percent. Demand for seasonal laborers soared.</p>
            <p>Western sugar companies and elected officials pressed for Japanese internees to replace workers who had joined the military or taken defense-industry jobs. They promised the Japanese their work would be voluntary, they would be paid, and most
                of all, they would be safe.</p>
            <p>&ldquo;There was a lot of hate, just like we&rsquo;re experiencing anti-Muslim sentiment today,&rdquo; Maebori said.</p>
            <div class="imagebreak"> <img class="img-fluid" src="http://media.philly.com/images/RS542817_1a35013u-hpr.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">Library of Congress</div>
                <div class="containerPhotoCaption" alignment="true">Interned Japanese-Americans working in the fields at the Tule Lake internment camp in California.</div>
            </div>
            <p>Her mother had been born in Wapato, Wash., and her father in Pendleton, Ore., home of the famous woolen mills. They met at a basketball game, and married on Nov. 22, 1941.</p>
            <div id="mapHook-1"></div>
            <div class="left-offset col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img class="img-fluid" src="http://media.philly.com/images/plabor05-map-static.png" alt="" width="100%/">
            </div>

            <p>Sixteen days later, Japanese forces bombed Pearl Harbor.</p>
            <p>To many Americans, Japanese neighbors suddenly looked like the enemy. In February, amid hysteria that the West Coast would be attacked, President Roosevelt signed Executive Order 9066, authorizing the removal and incarceration of 120,000 residents
                of Japanese ancestry. Nearly two-thirds were American citizens.</p>
            <p>Maebori&rsquo;s parents were forced from their home in Auburn, Wash., to the Pinedale Relocation Center in central California, then to the prison at <a href="https://www.nps.gov/nr/travel/cultural_diversity/tule_lake_unit_wwii_valor_in_the_pacific_national_monument.html">Tule Lake</a>,
                set in high desert near the Oregon border.</p>
            <p>They lived in a 15-by-20-foot tarpaper room, sharing a barracks with five other families. Their first child, Stan, was born at Tule Lake in 1943.</p>
            <p>They knew a prison was no place to raise a child. And, as Americans, they wanted to support the war effort.</p>
            <div id="mapHook-2"></div>
            <p>They arrived at a farm camp two miles west of Caldwell, Idaho, built in 1939 for migrant workers seeking to escape the Dust Bowl and the Depression. The family moved into one of the empty two-room cottages, while other Japanese lived in barracks
                and tents.</p>
            <p>William became a supervisor, picking up laborers in a truck and driving them to farms. His wife, who held a University of Washington degree in dress design, made clothes for the family &mdash; which soon included baby Teresa.</p>
        </div>
    </div>
</div>
<div alignment="true" class="container-fluid imagebreak">
    <div alignment="true" class="col-md-8 col col-md-offset-2">
        <div data-ride="carousel" class="carousel slide 412599413" id="carousel-one-generic" alignment="true">&zwnj;</div>
    </div>
</div>
<div alignment="true" class="container bodyContainer">
    <div alignment="true" class="row">
        <div alignment="true" class="col-md-8 col col-md-offset-2">
            <p>The camp was better than the barbed wire and machine guns of Tule Lake, but still a kind of rural jail. An 8 p.m. curfew was in force, and some stores posted signs that warned, &ldquo;No Japs.&rdquo;</p>
            <div id="mapHook-3"></div>
            <p>At war&rsquo;s end, the Maebori family returned to Auburn. The landlord who had promised to safeguard their belongings had kept his word. They moved back into the same rented house.</p>
            <p>William Maebori worked for his brother-in-law, making pots for plants. Another son and two more daughters arrived. Michiko &mdash; Midge to her friends &mdash; raised the children and earned extra money by sewing wedding dresses.</p>

{% set quote = ["Yes, this happened once, it could probably happen again, but there are more people who won’t stand for it.", "Teresa Maebori"] %} {% include "partials/left-quote.html" %}

            <p>The post-war years were busy. William Maebori, who helped run the Little League, Boy Scouts, and bowling leagues, named &ldquo;Father of the Year&rdquo; in the mid-1960s. His daughter Michiko volunteered at church and women&rsquo;s guilds,
                and was later crowned a &ldquo;Pioneer Queen&rdquo; of Auburn.</p>
            <p>Both parents are gone now. They rarely spoke to their children about their imprisonment. But 70 years later, Michiko&nbsp;Maebori thinks of it, noting that during the presidential campaign a Trump surrogate told Fox News that the incarceration
                of Japanese Americans set <a href="https://jacl.org/jacl-comments-on-carl-higbie-statements/">a precedent</a> for creating a Muslim registry now.</p>
            <div id="mapHook-4"></div>
            <p>&ldquo;Yes, this happened once, it could probably happen again, but there are more people who won&rsquo;t stand for it,&rdquo; Maebori said. &ldquo;Most people, when they hear about it, they&rsquo;re appalled, and they think, &lsquo;How could
                we do that?&rsquo; &rdquo;</p>
        </div>
    </div>
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">Library of Congress</div>
    </div>
</div>
<style>
@media screen and (max-width: 1000px) {
  .left-offset {
    margin-left: 0 !important;
  }
}
</style>
